:root {
  /* CSS HEX */
  --onyx: #393d3fff;
  --white: #fdfdffff;
  --silver: #c6c5b9ff;
  --steel-teal: #62929eff;
  --dark-electric-blue: #546a7bff;

  /* fonts */
  --font-family-main: "Teko", sans-serif;
  --font-medium: 400;
  --font-bold: 900;

  --font-size-small: 1.8rem;
  --font-size-medium: 2.8rem;
  --font-size-big: 3.8rem;
}

/* ajustes pantalla */
body#pagePopUp {
  height: 100vh !important;
}

body {
  background-color: var(--onyx);
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-main);
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* logo */
.logo {
  width: 50px;
  height: 90%;
}

.logo img:nth-child(1) {
  width: 100%;
  height: 100%;
}

.logo img:nth-child(2) {
  display: none;
}

/* switch mode */
.switch-mode {
  width: 55px;
  height: 25px;
  border-radius: 20px;
  background-color: var(--steel-teal);
  padding: 0.2rem;

  display: flex;
  align-items: center;
}

.circle-switch {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--onyx);
}

.life {
  color: var(--white);
  font-size: var(--font-size-small);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 0.5rem 0;
}

.canvas-container {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.canvas-drew {
  width: 360px;
  max-width: 480px;
  height: 200px;
  background-color: var(--dark-electric-blue);
  border-radius: 10px 10px 0 0;
  border-bottom: 4px inset var(--white);
}

.text-container {
  width: 360px;
  height: auto;
  border-radius: 0 0 10px 10px;
  background-color: rgba(98, 146, 158, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.letter-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.letter-wrong {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.letter-wrong-container {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.letter-wrong-container h3 {
  margin-top: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: var(--font-bold);
  color: var(--white);
  font-size: var(--font-size-small);
}

/* buttons  */
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  width: 240px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  text-decoration: none;

  /* center */
  display: grid;
  place-items: center;
  font-size: var(--font-size-medium);
  letter-spacing: 0.1rem;
  font-weight: var(--font-medium);
  transition: all 0.25s cubic-bezier(0.17, 0.67, 0.87, 0.53);
}

.btn-primary {
  background-color: var(--steel-teal);
  color: var(--white);
}

.btn-secondary {
  border: 3px solid var(--steel-teal);
  color: var(--steel-teal);
  background-color: none;
}

.btn-primary:active,
.btn-secondary:active {
  transform: scale(1.04);
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: transparent;
  border: 3px solid var(--steel-teal);
}

.btn-secondary:hover {
  background-color: var(--steel-teal);
  color: var(--white);
}

/* footer */
.footer-container {
  width: 100%;
  background-color: var(--steel-teal);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  bottom: 0;
  margin-top: 2rem;
  padding: 1rem;
}

.footer-container section {
  font-size: var(--font-size-small);
  margin: 0.5rem 0;
}

.social-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5rem 0;
}

.social-container a {
  display: inline-block;
  margin: 0 1rem;
  width: 30px;
  height: 30px;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-container a:hover {
  transform: scale(1.09) rotate(10deg);
}

.social-container a svg {
  fill: var(--white);

  width: 100%;
  height: 100%;
}

.autor-container {
  order: 1;
}

.lineSpan {
  display: inline-block;
  width: 8%;
  min-width: 25px;
  max-width: 40px;
  height: 35px;
  margin: 0.8rem;
  text-align: center;
  border-bottom: 3px solid var(--dark-electric-blue);
  color: var(--white);
  font-size: var(--font-size-big);
}

.press-me-keyboard {
  display: block;
  position: absolute;
  bottom: 180px;
  display: flex;
  justify-content: center;
  font-family: var(--font-family-main);
  font-size: var(--font-size-small);
  color: var(--white);
  text-align: center;
}

#keyboard-mobile {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 1rem 0;
  opacity: 0;
  color: transparent;
  outline: none;
  border: none;
  background-color: transparent;
}

.press-me-keyboard label {
  display: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: blink 0.28s infinite forwards alternate;
}

.press-me-keyboard.mobile label {
  display: block;
}

#keyboard-mobile:focus + label {
  opacity: 0;
  transform: scale(0);
}

@keyframes blink {
  to {
    transform: scale(1.1);
  }
  from {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 440px) {
  .footer-container {
    flex-direction: column;
  }

  .btn {
    width: 140px;
  }

  .btn-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .text-container {
    width: 480px;
  }

  .canvas-drew {
    width: 480px;
    height: 250px;
  }

  .footer-container {
    flex-direction: row;
  }

  .autor-container {
    order: 0;
  }
}

@media screen and (max-height: 580px) {
  .footer-container {
    position: static;
  }

  header {
    position: static;
  }

  .main-container {
    display: block;
  }

  .field-text-container {
    margin: 0 auto;
    margin-top: 2rem;
  }
}
