:root {
  /* CSS HEX */
  --onyx: #393d3fff;
  --white: #fdfdffff;
  --silver: #c6c5b9ff;
  --steel-teal: #62929eff;
  --dark-electric-blue: #546a7bff;

  /* fonts */
  --font-family-main: "Teko", sans-serif;
  --font-medium: 400;
  --font-bold: 900;

  --font-size-small: 1.8rem;
  --font-size-medium: 2.8rem;
  --font-size-big: 3.8rem;
}

/*! cambiar al main-container */
body {
  background-color: var(--onyx);
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-main);
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-container {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* logo */
.logo {
  width: 50px;
  height: 90%;
}

.logo img:nth-child(1) {
  width: 100%;
  height: 100%;
}

.logo img:nth-child(2) {
  display: none;
}

/* switch mode */
.switch-mode {
  width: 55px;
  height: 25px;
  border-radius: 20px;
  background-color: var(--steel-teal);
  padding: 0.2rem;

  display: flex;
  align-items: center;
}

.circle-switch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--onyx);
}

/* buttons  */
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  width: 240px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  text-decoration: none;

  /* center */
  display: grid;
  place-items: center;
  font-size: var(--font-size-medium);
  letter-spacing: 0.1rem;
  font-weight: var(--font-medium);
  transition: all 0.25s cubic-bezier(0.17, 0.67, 0.87, 0.53);
}

.btn-primary {
  background-color: var(--steel-teal);
}

.btn-secondary {
  border: 3px solid var(--steel-teal);
  color: var(--steel-teal);
  background-color: none;
}

.btn-primary:active,
.btn-secondary:active {
  transform: scale(1.04);
}
.btn-primary:visited {
  color: var(--white);
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: scale(1.05);
}

.btn-primary:hover {
  background-color: transparent;
  border: 3px solid var(--steel-teal);
}

.btn-secondary:hover {
  background-color: var(--steel-teal);
  color: var(--white);
}

.footer-container {
  width: 100%;
  min-height: 5rem;

  background-color: var(--steel-teal);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;

  /* carbiar a relative cuando aumenta el height */
  margin-top: 2rem;
  padding: 1rem;
}

.footer-container section {
  font-size: var(--font-size-small);
}

.social-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-container a {
  display: inline-block;
  margin: 0 1rem;
  width: 30px;
  height: 30px;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-container a:hover {
  transform: scale(1.09) rotate(10deg);
}

.social-container a svg {
  fill: var(--white);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container section {
    margin: 0.5rem 0;
  }
}
